<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>IMO中国颂词</title>

		<link rel="stylesheet" href="css/resp.css">
		
		<link rel="stylesheet" href="reveal.js/dist/reset.css">
		<link rel="stylesheet" href="reveal.js/dist/reveal.css">
		<link rel="stylesheet" href="reveal.js/dist/theme/black.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="reveal.js/plugin/highlight/monokai.css">

		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


		<style>
			.text {
				font-size: 100%;
			}

			.text p {
				font-size: 50%;
				color: yellow;
			}

			h2.chinese {
				color: yellow;
			}

			p.fragment {
				font-size: 80%;
			}

			.chinese h2,p {
				color: yellow;
			}

		</style>


	</head>

	<body>

		<div class="reveal">

			<div class="slides" id="imo">


				<section data-auto-animate>
					<h1>IMO China Verse</h1>
				</section>

				<section data-auto-animate>
					<h1 style="font-size: 80%">IMO China Verse</h1>
					<h1 style="color:yellow">IMO中国颂词</h1>
				</section>


				<template v-for='(item,index) in eulogy'>

					<section  data-auto-animate data-preload data-background-opacity=0.5 v-bind:data-background-image = 'getBackground()' >
						<h2>{{ item.en }}</h2>
					</section>

					<section  data-auto-animate data-preload data-background-opacity=0.5 v-bind:data-background-image = 'getBackground()' >
						<h2 style="font-size:80%;">{{ item.en }}</h2>
						<h2 class='chinese'>{{ item.cn }}</h2>
					</section>

				</template>



				<section>
					<h2>IMO China Verse</h2>
					<template v-for='(item,index) in eulogy'>
						<p class="fragment" data-autoslide="1000">{{item.en}}</p>
					</template>
				</section>


				<section>
					<h2>IMO中国颂词</h2>
					<template v-for='(item,index) in eulogy'>
						<p class="fragment" data-autoslide="1000">{{item.cn}}</p>
					</template>
				</section>


				<section>
					<h2>感谢观看!</h2>
					<h6 style="align-items: right; font-size: 50%; color: grey;">制作：韦伟</h6>
				</section>

			</div>

		</div>

		<script src="reveal.js/dist/reveal.js"></script>
		<script src="reveal.js/plugin/notes/notes.js"></script>
		<script src="reveal.js/plugin/markdown/markdown.js"></script>
		<script src="reveal.js/plugin/highlight/highlight.js"></script>

		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			
			var count = 1;


			var app = new Vue ({

				el: '#imo',

				methods: {

					getBackground: function(){
												
						var background = 'https://source.unsplash.com/collection/3642660/1600x900?sig='.concat(Math.round(count / 2));
						
						count += 1;

						console.log(background);

						return background;
					}

				},

				
				data: {
				
					eulogy: [
						
						{
							en: 'We are one', 	cn: '我们为一体'
						},
						
						{
							en: 'But all so different',	cn: '却又如此不同'
						},
						
						{
							en: 'I call your name', 	cn: '我呼唤你的名字'
						},

						{
							en: 'And you appear',	cn: "你便出现"
						},

						{
							en: 'Together we do the good',	cn: '我们一起行善'
						},

						{
							en: 'And develop ourselves',	cn: '发展我们自己'
						},

						{
							en: 'Into a conscious soul',	cn: '到达觉知的层面'
						}
					],

					background: 'https://source.unsplash.com/collection/1100868/1120x630'
				}
			});


			Reveal.initialize({
				hash: true,
				controls: false,
				autoSlide: 2000,
  				loop: true,
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});

		</script>
	</body>
</html>
