

<!doctype html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>VUE测试</title>

		<style type="text/css">
			
			.cat {
			  width: 100px;
			  display: inline-block;
			}

		</style>

	</head>

	<body>

		<div id="app">

		  <h2>Cats</h2>
		  
		  <div v-for="(cat,n) in cats">
		    <p>
		    <span class="cat">{{cat}}</span> <button @click="removeCat(n)">Remove</button>
		    </p>
		  </div>
		  
		  <p>
		    <input v-model="newCat"> 
		    <button @click="addCat">Add Cat</button>
		  </p>
		  
		</div>



		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

		<script>


			const app = new Vue({

			  el:'#app',

			  data: {
			    cats:[],
			    newCat:null
			  },

			  mounted() {
			    
			    if(localStorage.getItem('cats')) {
			      try {
			        this.cats = JSON.parse(localStorage.getItem('cats'));
			      } catch(e) {
			        localStorage.removeItem('cats');
			      }
			    }
			  },

			  methods: {
			    addCat() {
			      // ensure they actually typed something
			      if(!this.newCat) return;
			      this.cats.push(this.newCat);
			      this.newCat = '';
			      this.saveCats();
			    },
			    removeCat(x) {
			      this.cats.splice(x,1);
			      this.saveCats();
			    },
			    saveCats() {
			      let parsed = JSON.stringify(this.cats);
			      localStorage.setItem('cats', parsed);
			    }
			  }
			});

		</script>

	</body>

</html>